.sidebar {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 100vh;

  background-color: #fefefe;
  border-right: 1px solid #e5e7eb;
}

/* Header */
.sidebar-header {
  display: flex;
  align-items: center;
  gap: 14px;
  margin: 0 10px 8px;
  padding: 10px 0px;
}

/* Brand */
.sidebar-brand-name {
  font-size: 20px;
  font-weight: 400;
}

/* Sidebar items */
.sidebar-item {
  display: flex;
  align-items: center;
  gap: 14px;
  margin: 0px 10px;
  padding: 10px 8px;
  border-radius: 8px;

  font-size: 14px;
  color: #374151;
  text-decoration: none;

  background: none;
  border: none;
  cursor: pointer;

  transition:
    background-color 0.15s ease,
    transform 0.15s ease;
}
.sidebar-item svg {
  width: 18px;
  height: 18px;
}
.sidebar-item:hover {
  background-color: #e5e7eb;
  transform: translateX(3px);
}
.sidebar-item.active {
  background-color: #d1d5db;
}

/* Tabs */
.sidebar-tabs {
  display: flex;
  flex-direction: column;
}

/* Sidebar bottom (Contains notifications, user, settings) */
.sidebar-bottom {
  display: flex;
  flex-direction: column;
  margin: auto 0 12px 0;
}

/* Close button  */
.sidebar .sidebar-close {
  min-width: 0;
  min-height: 0;
  padding: 4px;
  margin-left: 6px;
  border-radius: 8px;
}
.sidebar .sidebar-close svg {
  width: 14px;
  height: 14px;
  color: #6b7280;
}

/* Collapsed style */
.sidebar.collapsed {
  width: auto;
  border: none;
  background-color: #f8f9fa;
}
.sidebar.collapsed .sidebar-brand-name {
  display: none;
}
.sidebar.collapsed .sidebar-bottom {
  display: none;
}
.sidebar.collapsed .sidebar-tabs {
  display: none;
}
