* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #000000;
}

button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
}

input:where(input:not([type="checkbox"]):not([type="radio"]), select) {
  appearance: none;
  border: 1px solid #c7c7c7;
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

:root {
  --text-primary: #374151;
  --text-secondary: #6b7280;
  --border: #e5e7eb;
}
