.table-panel {
    flex: 1;
}

/* -------------------------------------- Below is the metrics bar --------------------------------------*/
.metrics {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 12px;
    border: 2px solid #E5E7EB;
    margin: 20px auto;
    padding: 10px 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    width: 100%;
}

.asset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto 30px;
}


.metric-label {
    font-size: 14px;
    font-weight: 500;
    color: #636363;
}

.metric-value {
    font-size: 24px;
    font-weight: 600;
}

.divider {
    width: 2px; 
    align-self: stretch;
    background-color: #E5E7EB;
    border-radius: 12px;
}

.metric-stock {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 14px;
    font-weight: 500;
    margin: auto 30px;
}

.product-count {
    display: flex;
    gap: 18px;
}

.metric-stock span {
    padding-top: 2px;
    color: #636363;
}

.stock-bar {
    display: flex;
    gap: 4px;
    height: 6px;
    width: 100%;
}

.seg.green {
    background-color: #008000;
}

.seg.yellow {
    background-color: #FFDA05;
}

.seg.red {
    background-color: #FF0000;
}

.seg.green, .seg.yellow, .seg.red {border-radius: 15px; box-shadow: 0 2px 3px rgba(0,0,0,0.15);}

.stock-legend {
    display: flex;
    gap: 10px;
}

.legend-item {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.legend-item span {
    color: black;
    font-weight: 600;
}

#count-in, #count-low, #count-out {margin-left: 4px; transform: translateY(-0.5px);}

.legend-bar {
    display: inline-block;
    width: 3px;
    height: 12px;
    border-radius: 15px;
    margin-right: 4px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.15);
}

.legend-bar.green {
    background-color: #008000;
}

.legend-bar.yellow {
    background-color: #FFDA05;
}

.legend-bar.red {
    background-color: #FF0000;
}

/* -------------------------------------- Below is the tab bar --------------------------------------*/
.tabs {
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 10px;
    background-color: #F3F4F6;
    padding: 4px;

}

.tab {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 6px;
    padding: 8px 20px;
    border: none;
    background: none;
    color: #636363;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.15s ease;
    border-radius: 6px;
}

.tab.active {
    background-color: #FFFFFF;
    color: black;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}