.close-modal-btn, .print-btn, .edit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    padding: 0px;
    min-width: 32px;
    min-height: 32px;
    cursor: pointer;
    transition: background-color 0.15s ease;
    border-radius: 8px;
}


.close-modal-btn:hover, .print-btn:hover, .edit-btn:hover {
    background-color: #E5E7EB;
    border-radius: 8px;
}

.close-modal-btn svg, .print-btn svg {
    width: 18px;
    height: 18px;
}

.edit-btn svg {
    width: 18px;
    height: 18px; 
}


.back-link {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    color: #636363;;
    padding: 8px;
}

.back-link:hover {
    background-color: #E5E7EB;
    border-radius: 8px;
}
