.close-modal-btn, .print-btn, .edit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    padding: 0px;
    min-width: 32px;
    min-height: 32px;
    cursor: pointer;
    transition: background-color 0.15s ease;
    border-radius: 8px;
}


.close-modal-btn:hover, .print-btn:hover, .edit-btn:hover {
    background-color: #E5E7EB;
    border-radius: 8px;
}

.close-modal-btn svg, .print-btn svg {
    width: 18px;
    height: 18px;
}

.edit-btn svg {
    width: 18px;
    height: 18px; 
}


.back-link {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    color: #636363;;
    padding: 8px;
}

.back-link:hover {
    background-color: #E5E7EB;
    border-radius: 8px;
}

.bigger-edit-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    appearance: none;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    transition: background-color 0.15s ease;
}

.bigger-edit-btn:hover {
    background-color: #F9FAFB;
}

.bigger-edit-btn:active {
    background-color: #E5E7EB;
}

.add-button {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    background-color: #6366F1;
    color: #FFFFFF;
    border-radius: 8px;
    appearance: none;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    transition: background-color 0.15s ease;
}

.add-button:not(:disabled):hover {
    background-color: #4F46E5;
}

.add-button:not(:disabled):active {
    background-color: #4338CA;
}

.add-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.cancel-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 8px;
    appearance: none;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    transition: background-color 0.15s ease;
    border: 1px solid #E5E7EB; 
    color: #4F46E5;
    background: none;
}

.cancel-btn:hover {
    background: #F9FAFB;  ;
}

.cancel-btn:active {
    background-color: #E5E7EB;
}